.streamInfo {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.streamInfo__top {
    display: flex;
    align-items: center;
}
.streamInfo__avatar {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.streamInfo__details > h4:nth-child(1) {
    color: blueviolet;
    font-size: smaller;
    cursor: pointer;
}
.streamInfo__details > h4:nth-child(2) {
    color: purple;
    font-size: smaller;
    cursor: pointer;
}
.streamInfo__details > h4:hover {
    text-decoration: underline;
}
.streamInfo__details > p {
    font-size: smaller;
}
.streamInfo__bottom {
    font-size: 14px;
    padding-top: 20px;
}